################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LazyFoxTrader/.vs/LazyFoxTrader/FileContentIndex
/LazyFoxTrader/obj/Debug/net8.0/LazyFoxTrader.AssemblyInfo.cs
/LazyFoxTrader/obj/Debug/net8.0/LazyFoxTrader.AssemblyInfoInputs.cache
