<h2>Settings</h2>

<div class="card p-3 shadow">
    <label>Alpaca Key</label>
    <input class="form-control mb-2" />

    <label>Alpaca Secret</label>
    <input class="form-control mb-2" />

    <label>ClickHouse Connection</label>
    <input class="form-control mb-2" />

    <button class="btn btn-primary">Save</button>
</div>
